/adivinha_mais.html
/ano_copa.html
/bolinhasCores.html
/brasil.html
/calcula_imc.html
/canva.html
/chamarBandeiras.html
/creaper.html
/esquadro.html
/exercicio.html
/flor.html
/futebol.html
/idadeirmaos.html
/jogoAlvo.html
/jogo_adivinha.html
/mouse.html
/primeiro_teste.html
/progama.html
/progama2.html
/quadradofuncao.html
/teclado.html
/teclado;html
/teste.js
/testecomshift.html
/testeslah.html
/texto_puro.html
/triangulo.html